<?xml version="1.0"?>
<model>
  <name>flat_custom_ground_plane</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Taj Wilcock</name>
    <email>taj.g.wilcock@student.uts.edu.au</email>
  </author>

  <description>
    A large flat ground plane, for simple map.
  </description>
</model>
