<?xml version="1.0"?>
<model>
  <name>Map Perimeter</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>RS1 Gr25</name>
    <email></email>
  </author>

  <description>
    Closed solid wall around the 60 x 30 m flat_custom_ground_plane so
    lidar / SLAM / Nav2 see a bounded map edge.
  </description>
</model>
